* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    height: 250px;;
    display:flexbox;
	justify-content:center;
    align-items: center;
	box-shadow: 0 5px 15px rgba(0,0,0,.2);	
    }
 
.logo {
    font-family: 'Zelmud Script',sans-serif;
    font-size: 60px;
    justify-content:center;
    text-align: center;
    color: rgb(72, 71, 71);
    height: auto !important;
    
} 
.slogan {
    font-family:'khand',sans-serif;
    font-size: 20px;
    margin:30px;
    text-align:center;
    justify-content: center;
    color: rgb(82, 81, 81);
    
} 
.est {
    font-family:'khand',sans-serif;
    font-size: 15px;
    text-align:center;
    justify-content: center;
    color: rgb(85, 84, 84);

}


@import url('https://fonts.cdnfonts.com/css/zelmud-script');
.menu {
    align-self: center;
   margin: 0 0.8em 0 0;

}   
ul {
	display: flex;
    flex-flow: nowrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	transition: .5s;
    list-style-type: none;
    margin: auto;
}

ul li a {
	padding: 10px 20px;
	text-transform: uppercase;
	text-decoration: none;
	color: rgb(67, 66, 66);
	font-family:'khand',sans-serif;
    transition: .5s;
    margin: auto;
}

ul li a:hover {
	background: rgb(63, 63, 63);
	color: #fff;
    transition: .5s
}
* {box-sizing:border-box}
.mySlides {display:flex}
img {vertical-align:middle}

/* Slideshow container */
.slideshow-container {
  display: flex; 
  max-width: 570px;
  position: relative;
  margin: auto;
  
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* menu*/
.menu li{
    display:inline;
    justify-content: left;
}

.MagicText {
    justify-content:center;
    text-align:center;
    flex-direction: row;
    margin: 50px;
    font-family:'khand',sans-serif; 
    color: rgb(82, 81, 81);

    }  
    @import url('https://fonts.cdnfonts.com/css/khand'); 
      
/* kontaktsida*/
main {
    display:flex;
    justify-content: center;
    align-items:baseline;
    height: 300px;
    gap: 80px;
    margin-top: 100px;
    
}
.map{
    display:flex;
    justify-content: center;
    align-items: center;
    
   
    
}
.bild{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    
} 
iframe {
    display: flex;
    justify-content: ;
    align-items: center;

} 

.kontakt{
    display: flex;
    justify-content: flex;
    flex-direction: column;
    gap: 0px;
    margin-top: 15px;
    margin-left: 20px;
    font-family:'khand',sans-serif; 
    color: rgb(82, 81, 81);
    
}

.form {
    font-family:'khand',sans-serif; 
    color: rgb(82, 81, 81);;
    gap:20px;
    display:flexbox;
    margin: 20px;
}  
/*portfolio*/

* {
    box-sizing: border-box;
}



.header {
    text-align: center;
    padding: 32px;
}

.row {
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.gallery {
    -ms-flex: 50%; /* IE 10 */
    flex: 50%;
    padding: 0 4px;
}

.gallery img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
}

.btn:hover {
    background-color: #ddd;
}

.btn.active {
    background-color: #666;
    color: white;
}
.footer {
    text-align: center;
} 
.rights{
    margin-top: 20px;
    margin-bottom:10px;
    text-align: center;
    font-size:small;
    font-style: uppercase;
    font-family:'khand',sans-serif; 
    color: rgb(82, 81, 81);

}

